/* Sidebar styles */
.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #FF6347;
    z-index: 2;
    transition: left 0.3s ease;
}
.sidebar.active {
    left: 0;
}
.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 20px;
}
.sidebar ul li {
    margin: 15px 0;
}
.sidebar ul li a {
    text-decoration: none;
    color: #FFFFFD;
    font-size: 18px;
}
.menu-open .sidebar {
    left: 0;
}
.menu-open .main-content {
    transform: translateX(250px);
    transition: transform 0.3s ease;
}

/* Ensure hamburger is visible on smaller screens */
.hamburger {
    cursor: pointer;
    display: block;
    z-index: 3;
    margin-left: 20px;
}
.hamburger .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #333;
}

/* Responsive design for larger screens */
@media (min-width: 769px) {
    .sidebar {
        display: none;
    }
    .hamburger {
        display: none;
    }
    .navbar-content {
        justify-content: space-between;
    }
}

.logo-link {
    text-decoration: none;
    color: #333;
    cursor: default;
    font-size: 40px;
}
.logo-link:hover {
    text-decoration: none; /* Ensure there's no underline on hover */
}

/* General body and main content styling */
body {
    margin: 0;
    font-family: 'Inter', Arial, sans-serif;
    background-color: #FFFFFD;
    color: #333;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #FFFFFD;
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 60px; /* Adjust height for a more compact navbar */
    padding: 5px 20px; /* Smaller padding for a compact look */
}

.navbar-content {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Navbar links styling for larger screens */
.navbar-links {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
    display: flex;
}
.navbar-links li {
    display: inline;
}
.navbar-links a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

/* Show navbar links on larger screens */
@media (min-width: 769px) {
    .hamburger {
        display: none;
    }
    .navbar-links {
        display: flex;
    }
}


.logo {
    font-family: "Kuta", sans-serif;
    font-size: 30px;
    font-weight: 100;
    line-height: 1.2;
    margin: auto; /* Center the logo */
}

.social-icons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.social-icon {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: #FF6347; /* Adds a hover effect */
}

.main-content {
    font-size: 18px;
    padding: 20px;
}

.landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FF6347;
    color: #333;
    text-align: center;
    padding: 20px;
}

.landing-page-content h2 {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Inter', Arial, sans-serif;
    margin-bottom: 1px;
    margin-left: 10px;
    text-align: left;
}

.landing-page-content h1 {
    font-size: 80px;
    font-family: "Kuta", sans-serif;
    margin-bottom: 20px;
    margin-left: 10px;
    text-align: left;
}

.landing-page-content p {
    font-size: 14px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: italic;
    margin-bottom: 20px;
}

.arrow-down {
    font-size: 20px;
    color: #333;
}

.about-me {
    margin-top: 40px;
    text-align: center;
    padding: 0 20px;
}

.about-me h2 {
    font-size: 30px;
    font-family: "Kuta", sans-serif;
    margin-bottom: 20px;
}

.about-me-image {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.about-me-description {
    font-size: 16px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: italic;
    text-align: left;
    line-height: 1.6;
    max-width: 600px;
    margin: 0 auto;
}

.work-experience {
    margin-top: 60px;
    padding: 0 20px;
}

.work-experience-subtitle {
    font-size: 16px;
    font-family: 'Inter', Arial, sans-serif;
    text-align: left;
}

.work-experience-title {
    font-family: "Kuta", sans-serif;
    text-align: left;
    font-size: 30px;
    display: block;
    margin-bottom: 20px;
}

.experience-card {
    border: 1px solid #333;
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    text-align: left;
}

.experience-company {
    font-size: 16px;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    color: #676767;
    text-transform: uppercase;
    margin-bottom: 0.5px;
}

.experience-role {
    font-size: 20px;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
}

.experience-description {
    font-size: 16px;
    font-family: 'Inter', Arial, sans-serif;
    line-height: 1.6;
    margin-bottom: 10px;
}

.experience-dates {
    font-size: 14px;
    font-family: 'Inter', Arial, sans-serif;
    color: #676767;
}

.projects {
    margin-top: 60px;
    padding: 0 20px;
}

.projects-subtitle {
    font-size: 16px;
    font-family: 'Inter', Arial, sans-serif;
    text-align: left;
    color: #555;
}

.projects-title {
    font-family: "Kuta", sans-serif;
    text-align: left;
    font-size: 30px;
    display: block;
    margin-bottom: 20px;
}

.projects-wheel {
    display: flex;
    overflow-x: scroll;
    padding: 20px 0;
    scroll-behavior: smooth;
    gap: 20px;
}

.project-card {
    border-radius: 8px;
    padding: 20px;
    min-width: 250px;
    max-width: 300px;
    flex: 0 0 auto;
    text-align: left;
    border: 1px solid #ddd;
}

.project-image {
    width: 100%;
    height: 150px;
    background-color: #DDD;
    border-radius: 8px;
    margin-bottom: 20px;
}

.project-company {
    font-size: 14px;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.project-role {
    font-size: 18px;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
}

.project-description {
    font-size: 14px;
    font-family: 'Inter', Arial, sans-serif;
    line-height: 1.6;
    margin-bottom: 10px;
}

.project-dates {
    font-size: 14px;
    font-family: 'Inter', Arial, sans-serif;
    color: #555;
}

/* Contact Section */
.contact {
    padding: 40px 20px;
    text-align: center;
    background-color: #f9f9f9;
}

.contact h2 {
    font-family: "Kuta", sans-serif;
    font-size: 30px;
    margin-bottom: 10px;
    margin-left: 20px;
    text-align: left;
}

.contact p {
    font-family: 'Inter', Arial, sans-serif;
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
    margin-left: 20px;
}

.contact-info {
    font-family: 'Inter', Arial, sans-serif;
    font-size: 16px;
    color: #333;
    text-align: left;
    margin-left: 20px;
}

.contact-info p {
    margin: 10px 0;
}

.contact-info a {
    color: #FF6347;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.footer {
    background-color: #333;
    color: #FFFFFD;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

.footer h2 {
    font-family: "Kuta", sans-serif;
    font-weight: 200;
    font-size: 30px;
    margin: 0;
}

.footer p {
    font-family: 'Inter', Arial, sans-serif;
    font-size: 14px;
    margin: 5px 0;
}
